@import 'vars';
@import 'global';

// start header

.header__top{
	background-color: #eef1f3;
}
.header__top-inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 100px;
}
.header__logo{
	margin: 3px 0 0 7px;
}
.header__content{
	display: flex;
	align-items: center;
}
.header__btn-seller{
	font-size: 14px;
	line-height: 28px;
	color: #fff;
	background-color: $blue;
	margin-right: 50px;
}
.header__icons{
	display: flex;
	align-items: center;
	margin-right: 45px;
	li{
		& + li{
			margin-left: 30px;
		}
	}
	a{
		color: #7e8fa1;
		font-size: 20px;
		line-height: 22px;
	}
}
.header__usser{
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 180px;
	width: 100%;
	&-avatar{
		height: 50px;
		width: 50px;
		border-radius: 50%;
		background-color: #7c7979;
		margin-right: 20px;
	}
	&-name{
		font-weight: 500;
		color: #333;
		line-height: 22px;
	}
	&-money{
		color: $blue;
		line-height: 22px;
	}
}
.header__bottom{
	
}
.header__bottom-inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 80px;
}
.nav-menu__list{
	display: flex;
	li{
		& + li{
			margin-left: 30px;
		}
	}
	a{
		color: #333;
		font-weight: 500;
		text-transform: uppercase;
		line-height: 22px;
	}
}
.header__search{
	form{
		height: 46px;
		max-width: 500px;
		position: relative;
	}
	input{
		width: 100%;
		border: 1px solid #d9dfe5;
		border-radius: 50px;
		padding: 10px 70px 10px 25px;
		transition: all .5s;
		position: absolute;
		right: 0;
		top: 0px;
		width: 360px;
		height: 46px;
		outline: none;
		&:focus{
			width: 500px;
		}
		&::placeholder{
			color: #898f96;
			font-size: 15px;
		}
	}
	button{
		position: absolute;
		right: 0;
		top: 0px;
		border: none;
		height: 46px;
		width: 70px;
		background-color: $blue;
		color: #fff;
		font-size: 15px;
		border-radius: 30px;
	}
}


// end header
// start marketplace

.marketplace{
	min-height: 725px;
	background-image: linear-gradient(right, rgb(0,48,222) 0%, rgb(23,69,237) 54%, rgb(46,90,251) 100%);
	position: relative;
	margin-bottom: 185px;
}
.marketplace__inner{
	text-align: center;
	color: #f3f3f8;
	padding: 100px 0;
}
.marketplace__title{
	font-size: 60px;
	line-height: 70px;
	font-weight: 400;
	margin: 75px 0 35px;
	span{
		font-weight: 700;
		display: block;
	}
}
.marketplace__text{
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 65px;
}
.marketplace__btn{
	a{
		color: #fff;
		border: 1px solid #fff;
		line-height: 45px;
		padding: 0 30px;
		transition: all .3s;
		&:hover{
			background-color: #fff;
			color: $blue;
		}
		& + a{
			margin-left: 30px;
		}
	}
}
.marketplace__search{
	position: absolute;
	bottom: -60px;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
	max-width: 1140px;
	width: 100%;
	min-height: 135px;
	background-color: #fff;
	border-radius: 6px;
	z-index: 10;
	padding: 40px 5px 40px 40px;
	&::before{
		content: "";
		position: absolute;
		bottom: 15px;
		left: 50%;
		transform: translateX(-50%);
		max-width: 1110px;
		width: 100%;
		min-height: 135px;
		background-color: #fff;
		opacity: 50%;
		border-radius: 6px;
		z-index: 2;
	}
	&:after{
		content: "";
		position: absolute;
		bottom: 30px;
		left: 50%;
		transform: translateX(-50%);
		max-width: 1080px;
		width: 100%;
		min-height: 135px;
		background-color: #fff;
		opacity: 50%;
		border-radius: 6px;
		z-index: 1;
	}
	form{
		position: relative;
		z-index: 11;

	}
	input{
		max-width: 808px;
		width: 100%;
		height: 55px;
		border: 1px solid #dcdcdc;
		margin-right: 30px;
		padding: 10px 195px 10px 30px;
		border-radius: 4px;
		&::placeholder{
			color: #676767;
		}
	}
	button{
		background-color: $blue;
		height: 55px;
		max-width: 222px;
		width: 100%;
		color: #fff;
		display: inline;
		border: none;
		outline: none;
		cursor: pointer;
		border-radius: 4px;
	}
}

// end marketplace
// start features

.features__inner{
	display: flex;
	justify-content: space-between;
	text-align: center;
	padding-bottom: 120px;
}
.features__item{
	max-width: 365px;
	width: 100%;
	padding: 40px 30px 40px;
	box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
	border-radius: 4px;
	&-img{
		margin-bottom: 30px;
	}
	&-title{
		font-size: 22px;
		color: #010101;
		margin-bottom: 20px;
	}
	&-image{
		margin-top: -7px;
	}
}

// end features
// start weekly

.weekly,
.products,
.followers{
	padding: 120px 0;
	background-color: $grey;
	&__title{
		height: 110px;
		width: 100%;
		border-radius: 4px;
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
		padding: 43px 29px;
		margin-bottom: 50px;
		position: relative;
	}
}
.weekly-slider{
	&__item{
		display: flex !important;
		justify-content: space-between;
		min-height: 450px;
		border-radius: 4px;
		max-width: 1140px;
		width: 100%;
	}
	&__img{
		max-width: 570px;
		min-height: 450px;
		width: 100%;
		background-color: #4e5760;
		@include bg;
	}
	&__content{
		max-width: 570px;
		width: 100%;
		padding: 50px 50px 0 50px;
		background-color: #fff;
	}
	&__title{
		font-size: 24px;
		color: #000;
		font-weight: 500;
		margin-bottom: 15px;
	}
	&__text{
		letter-spacing: -0.1px;
		margin-bottom: 40px;
	}
	&__category{
		margin-bottom: 35px;
	}
	&__link{
		color: #868c96;
		background-color: #f1f3f6;
		font-size: 15px;
		margin-left: 7px;
		padding-top: 1px;
		padding-bottom: 1px;
	}
	&__info{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 25px 0;
		border-top: 1px solid #ececec;
		font-size: 15px;
	}
	&__money{
		padding: 2px 18px;
		border-radius: 50px;
		background-color: $blue;
		color: #fff;
		font-weight: 500;
		display: inline-block;
		margin-right: 18px;
	}
	&__likes{
		margin-right: 15px;
		span{
			color: $purple;
			margin-right: 8px;
		}
	}
	&__cart{
		color: $blue;
		span{
			margin-right: 8px;
		}
	}
	&__author{
		margin-bottom: 30px;
		display: flex;
		align-items: center;
		font-size: 15px;
	}
	&__avatar{
		height: 30px;
		width: 30px;
		border-radius: 50%;
		background-color: $purple;
		margin-right: 7px;
	}
	&__name{
		color: #000;
		margin-right: 20px;
	}
	&__program{
		color: $purple;
		span{
			margin-right: 7px;
		}
	}
	.slick-arrow{
		text-align: center;
		display: inline-block;
		position: absolute;
		right: 30px;
		top: -125px;
		font-size: 15px;
		background-color: $purple;
		border: none;
		outline: none;
		color: #fff;
		height: 45px;
		cursor: pointer;
	}
	.slick-next{
		border-bottom-right-radius: 30px;
		border-top-right-radius: 30px;
		width: 55px;
	}
	.slick-prev{
		right: 85px;
		border-bottom-left-radius: 30px;
		border-top-left-radius: 30px;
		width: 55px;
	}
}

// end weekly
// start products

.products{
	background-color: #f6f7fb;
}
.products__inner{

}
.products__title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}
.products-dropdown{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	&__title{
		color: #747b86;
		margin-right: 20px;
	}
	&__btn{
		background-color: transparent;
		height: 20px;
		width: 20px;
		position: relative;
		span{
			width: 5px;
			height: 4px;
			border-radius: 50%;
			background-color: #a3b1c4;
			display: inline-block;
			position: absolute;
			top: 55%;
			left: 50%;
			transform: translate(-50%, -50%);
			&::before{
				content: '';
				top: -8px;
				right: 0;
				width: 5px;
				height: 4px;
				border-radius: 50%;
				background-color: #a3b1c4;
				display: inline-block;
				position: absolute;
			}
			&::after{
				content: '';
				top: 8px;
				right: 0;
				width: 5px;
				height: 4px;
				border-radius: 50%;
				background-color: #a3b1c4;
				display: inline-block;
				position: absolute;
			}
		}
	}
}
.products__category{
	height: 92px;
	width: 100%;
	border-radius: 4px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
	padding: 10px 29px;
	margin-bottom: 50px;
	position: relative;
	display: flex;
	align-items: center;
	button{
		font-size: 15px;
		color: #747b86;
		background-color: #f1f3f6;
		border-radius: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 7px 20px 10px;
		& + button{
			margin-left: 10px;
		}
	}
}
.products__items{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 20px;
}
.product-card{
	max-width: 361px;
	min-height: 530px;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
	margin-bottom: 30px;
	position: relative;
	&__content{

	}
	&__top{
		padding: 23px 30px 15px;
	}
	&__title{
		font-size: 20px;
		font-weight: 500;
		color: #000;
	}
	&__category{
		display: flex;
		align-items: center;
		padding-top: 10px;
		line-height: 25px;
	}
	&__avatar{
		@include bg;
		height: 28px;
		width: 28px;
		border-radius: 50%;
		margin-right: 8px;
	}
	&__product-name{
		font-size: 15px;
		color: #000;
		margin-right: 17px;
	}
	&__program{
		color: $purple;
		position: relative;
		margin-left: 18px;
		span{
			svg{
				fill: $purple;
				position: absolute;
				top: 5px;
				left: -20px;
			}
		}
	}
	&__center{
		padding: 10px 30px 30px;
	}
	&__bottom{
		border-top: 1px solid #ececec;
		padding: 15px 30px;
		display: flex;
		align-items: center;
		.star-rate__product{
			margin: 0;
		}
	}
	&__price{
		font-size: 15px;
		color: $blue;
		padding: 0 17px;
		border-radius: 50px;
		background-color: #e6f1fd;
		font-weight: 500;
		margin-right: 14px;
	}
	&__likes{
		color: #7e7e7e;
		font-size: 15px;
		margin-right: 15px;
		.lnr.lnr-heart{
			color: $purple;
			margin-right: 5px;
			line-height: 15px;
		}
	}
	&__cart{
		color: $blue;
		font-size: 15px;
		margin-left: auto;
		.lnr.lnr-cart{
			margin-right: 5px;
			line-height: 15px;
		}
	}	
}
.product-card__box{
	transition: all .5s;
}
.product-card__box-img {
	width: 100%;
	height: 230px;
	@include bg;
}
.product-card__box-links{
	background-image: linear-gradient(right, rgb(6,116,236) 0%, rgb(61,94,215) 46%, rgb(115,71,193) 100%);
	width: 0;
	height: 230px;
	position: absolute;
	top: 0;
	left: 50%;
	transition: all .5s;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	a{
		display: none;
		color: #fff;
		font-size: 15px;
		font-weight: 500;
		border: 1px solid #fff;
		transition: all .3s;
	}
}
.product-card:hover .product-card__box-links{
	width: 100%;
	left: 0;
}
.product-card:hover .product-card__box a{
	display: inline-block;
	& + a{
		margin-left: 11px;
	}
	&:hover{
		background-color: #fff;
		color: $blue;
	}
}
.product-card__box-links a{
  animation: animation-links linear 0.3s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
}

@keyframes animation-links{
  0% {
    transform:  scaleX(0.00) scaleY(0.00) ;
  }
  50% {
    transform:  scaleX(0.00) scaleY(0.00) ;
  }
  100% {
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
}
.products__bottom-btn{
	text-align: center;
	button{
		margin: 0 auto;
		color: #fff;
		background-color: $blue;
		border-radius: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 20px 30px 20px;
	}
}


// end products
// start followers

.followers-slider{
	.product-card{
		margin-right: -10px;
		margin-left: 10px;
	}
	.slick-arrow{
		text-align: center;
		display: inline-block;
		position: absolute;
		right: 30px;
		top: -125px;
		font-size: 15px;
		background-color: $blue;
		border: none;
		outline: none;
		color: #fff;
		height: 45px;
		cursor: pointer;
	}
	.slick-next{
		border-bottom-right-radius: 30px;
		border-top-right-radius: 30px;
		width: 55px;
	}
	.slick-prev{
		right: 85px;
		border-bottom-left-radius: 30px;
		border-top-left-radius: 30px;
		width: 55px;
	}
}

// end followers
// start fun-fact




// end fun-fact
